/Epiboly Notebook.ipynb
/.ipynb_checkpoints/Epiboly Notebook-checkpoint.ipynb

__pycache__
.DS_Store

# This file appeared as a new, untracked file when I told PyCharm to turn off the grammar checks.
# This is not project related!
sharon.xml
